---
- name: Install and Configure MYSQL
  hosts: servers
  become: yes
  vars_files:
    - secret.yaml

  tasks:
    - name: Install MYSQL Server
      package:
        name: mysql-server
        state: present

    - name: Ensure MYSQL is Started and enabled
      service:
        name: mysqld
        state: started
        enabled: yes

    - name: Install Python MYSQL dependencies
      block:
        - name: Install python3-pip
          package:
            name: python3-pip
            state: present

        - name: Install PYMYSQL via pip
          pip:
            name: pymysql
            state: present
      become: yes


    - name: Create DataBase
      mysql_db:
        name: iVolve
        state: present
        login_unix_socket: /var/lib/mysql/mysql.sock

    - name: Create user with all privileges on iVolve DB
      mysql_user:
        name: ivolve_user
        password: "{{ db_password }}"
        priv: 'iVolve.*:ALL'
        state: present
        login_unix_socket: /var/lib/mysql/mysql.sock

    - name: Validate DB Connection and list databases
      command: mysql -u ivolve_user -p{{ db_password }} -e "SHOW DATABASES;"
      register: db_list
      changed_when: false

    - name: Display databases
      debug:
        var: db_list.stdout_lines


