apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
  namespace: ivolve
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      tolerations:  
      - key: "node"
        operator: "Equal"
        value: "worker"
        effect: "NoSchedule"
      initContainers:
      - name: init-db
        image: mysql:5.7 #
        envFrom:
        - configMapRef:
            name: mysql-config
        - secretRef:
            name: mysql-csecret
        command: 
        - "/bin/sh"
        - "-c"
        - |
          mysql -h $DB_HOST -u root -p$MYSQL_ROOT_PASSWORD <<EOF
          CREATE DATABASE IF NOT EXISTS ivolve;
          CREATE USER IF NOT EXISTS 'ivolve_user'@'%' IDENTIFIED BY '$DB_PASSWORD';
          GRANT ALL PRIVILEGES ON ivolve.* TO 'ivolve_user'@'%';
          EOF

      containers:
      - name: nodejs-container
        image: nouraabdelnabi/web-app:latest # Docker Hub image for node.js
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
        envFrom: 
        - configMapRef:
            name: mysql-config
        - secretRef:
            name: mysql-secret
        volumeMounts:
        - name: app-storage
          mountPath: /usr/src/app/logs
      volumes:
      - name: app-storage
        persistentVolumeClaim:
          claimName: log-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
  namespace: ivolve
spec:
  type: ClusterIP
  selector:
    app: nodejs
  ports:
  - port: 80
    targetPort: 3000

