---
- name: Install and Configure MYSQL on AWS Ubuntu
  hosts: aws_ec2
  become: yes
  vars_files:
    - secret.yaml

  tasks:
    - name: update apt cache
      apt:
        update_cache: yes
      become: yes

    - name: Install MYSQL Server
      package:
        name: mysql-server
        state: present
        update_cache: yes
      become: yes

    - name: Ensure MYSQL is Started and enabled
      service:
        name: mysql
        state: started
        enabled: yes

    - name: Install Python MYSQL dependencies
      block:
        - name: Install python3-pip
          package:
            name: python3-pip
            state: present

        - name: Install python3-pymysql
          apt:
            name: python3-pymysql
            state: present
      become: yes


    - name: Create DataBase
      mysql_db:
        name: iVolve
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Create user with all privileges on iVolve DB
      mysql_user:
        name: ivolve_user
        password: "{{ db_password }}"
        priv: 'iVolve.*:ALL'
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Validate DB Connection and list databases
      command: mysql -u ivolve_user -p{{ db_password }} -e "SHOW DATABASES;"
      register: db_list
      changed_when: false

    - name: Display databases
      debug:
        var: db_list.stdout_lines


