version: "3.8"
services:
  app:
    build: .
    container_name: web-app
    ports:
    - "3001:3000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
    depends_on:
    - db
  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ivolve
    volumes:
    - db_mysql:/var/lib/mysql

volumes:
  db_mysql:
